<section class="container m-4">
  <div class="flex gap-2 flex-wrap gap-2">
    <button
      *ngFor="let item of componentsList"
      (click)="showComponent(item.key)"
      class="rounded-lg {{ selectedComponent === item.key ? 'bg-purple' : '' }}"
    >
      {{ item.label }}
    </button>
  </div>
  <hr />
  <div [ngSwitch]="selectedComponent">
    <app-interpolation *ngSwitchCase="'interpolation'"></app-interpolation>
    <app-angularcli *ngSwitchCase="'angularcli'"></app-angularcli>
    <app-components *ngSwitchCase="'components'"></app-components>
    <app-btnandfunction *ngSwitchCase="'btnandfunction'"></app-btnandfunction>
    <app-datatypes *ngSwitchCase="'datatypes'"></app-datatypes>
    <app-counterapp *ngSwitchCase="'counterapp'"></app-counterapp>
    <app-events *ngSwitchCase="'events'"></app-events>
    <app-inputfieldvalue
      *ngSwitchCase="'inputfieldvalue'"
    ></app-inputfieldvalue>
    <app-styleoption *ngSwitchCase="'styleoption'"></app-styleoption>
    <app-ifelse *ngSwitchCase="'ifelse'"></app-ifelse>
    <app-elseif *ngSwitchCase="'elseif'"></app-elseif>
    <app-switchcase *ngSwitchCase="'switchcase'"></app-switchcase>
    <app-forloop *ngSwitchCase="'forloop'"></app-forloop>
    <app-signals *ngSwitchCase="'signals'"></app-signals>
    <app-datatypewithsignals
      *ngSwitchCase="'datatypewithsignals'"
    ></app-datatypewithsignals>
    <app-computedsignals
      *ngSwitchCase="'computedsignals'"
    ></app-computedsignals>
    <app-effectinng *ngSwitchCase="'effectinng'"></app-effectinng>
    <app-loopcontextual *ngSwitchCase="'loopcontextual'"></app-loopcontextual>
    <app-twowaybinding *ngSwitchCase="'twowaybinding'"></app-twowaybinding>
    <app-dynamicstyle *ngSwitchCase="'dynamicstyle'"></app-dynamicstyle>
    <app-directives *ngSwitchCase="'directives'"></app-directives>
    <app-routing *ngSwitchCase="'routing'"></app-routing>
    <app-dynamicrouting *ngSwitchCase="'dynamicrouting'"></app-dynamicrouting>
    <app-forms *ngSwitchCase="'forms'"></app-forms>
    <app-formgroup *ngSwitchCase="'formgroup'"></app-formgroup>
    <app-tdforms *ngSwitchCase="'tdforms'"></app-tdforms>
    <app-datatransfer
      user="Shubham nimje"
      [brother]="brother"
      *ngSwitchCase="'datatransfer'"
    ></app-datatransfer>
    <app-reusecomponent *ngSwitchCase="'reusecomponent'"></app-reusecomponent>
    <app-childtoparent
      (getUser)="handleUser($event)"
      *ngSwitchCase="'childtoparent'"
    ></app-childtoparent>
    <app-custompipes *ngSwitchCase="'custompipes'"></app-custompipes>
    <ng-container *ngIf="counter !== 5">
      <app-compopnentlifecycle
        [counter]="counter"
        #user
        *ngSwitchCase="'compopnentlifecycle'"
      ></app-compopnentlifecycle>
    </ng-container>
    <app-services *ngSwitchCase="'services'"></app-services>

    <p *ngSwitchDefault class="text-gray">Component is not selected</p>
  </div>
  <hr />
  <div *ngIf="selectedComponent == 'childtoparent'">
    <h3 class="text-lg">This is parent component</h3>
    <div>
      <p class="text-gray">Name: {{ user.name }}</p>
      <p class="text-gray">Age: {{ user.age }}yrs</p>
      <p class="text-gray">City: {{ user.city }}</p>
      <p class="text-gray">Email: {{ user.email }}</p>
    </div>
  </div>
  <hr />
  <div *ngIf="selectedComponent == 'compopnentlifecycle'">
    <h3 class="text-lg">This is parent component</h3>
    <div>
      <button (click)="updateCounter()" class="text-gray">
        Count: {{ counter }}
      </button>
      <!-- <p class="text-gray">Age: {{ user.age }}yrs</p>
      <p class="text-gray">City: {{ user.city }}</p>
      <p class="text-gray">Email: {{ user.email }}</p> -->
    </div>
  </div>
</section>
